<!DOCTYPE html>
<html lang="en">
   
<body>
   
    <h1>New Pokemon</h1>
    <form action="/pokemon" method="POST">
       
                        <h1>New Pokemon</h1>
                        <form action="/pokemon" method='POST'>
                            <img src=
                            "https://cdn-icons-png.flaticon.com/512/188/188918.png"
                               alt=""  ><br>
                        Name: <input type='text' name="name"/> <br>
                        Type: <input type="text" name="type"/> <br>             
                        HP: <input type='text' name="hp"/> <br>
                        Attack: <input type='text' name="attack"/> <br>
                        Defense: <input type='text' name="defense"/> <br>
    
    <input type="submit" value="Add Pokemon"/>
    </form>
 
</body>
</html>